@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section__teachers__heading-title {
    font-size: 46px;
    font-weight: 500;
    font-family: 'Playfair Display';
}

.teacher__list {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: 80px;
}

.teacher__item {
    width: 255px;
    height: 361px;
    background-color: #F8F8F8;
    border-radius: 8px;
    
}

.teacher__poster {
    margin-bottom: 15px;
}

.teacher__poster-img {
    width: 255px;
    height: 268px;
    object-fit: cover;
    object-position: center center;
    border-radius: 8px;
}

.teacher__description {
    
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 14px;
}

.teacher__name {
    font-size: 16px;
    font-family: 'DM Sans';
    font-weight: 500;
    margin-bottom: 8px;
}

.teacher__profession {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
}

.teacher__socials {
    display: flex;
    justify-content: flex-end;
}
.seemore__section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seemore__section-button {
    width: 317px;
    height: 48px;
    background-color: #007bff; 
    border: none;
    cursor: pointer;
    padding: 12px 20px;
}

.seemore__text {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0; 
}

.teacher__socials-site, .teacher__socials-mail{
    color: black;
    text-decoration: none;
    margin-right: 8px;
}